@import 'src/styles/settings/variables';

.main-menu {
  left: 25px;
  position: absolute;
  top: 37px;
  width: calc(100% - 50px);
  z-index: 10;

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 0;

    @media only screen and (min-width: $b-medium) {
      display: none;
    }
  }

  &__nav {
    background: var(--c-white);
    border-radius: 10px;
    box-shadow: 0 38px 67px 3px rgb(0 0 0 / 70%);
    -webkit-box-shadow: 0 38px 67px 3px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0 38px 67px 3px rgb(0 0 0 / 70%);
    position: absolute;
    top: 55px;
    width: 100%;

    @media only screen and (min-width: $b-medium) {
      display: none;
    }
  }

  &__items {
    line-height: 1.15;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    cursor: pointer;
    font-weight: 500;
    padding: 20px 6%;
    transition: color 0.5s;

    &:hover {
      color: var(--c-modarate-cyan);
    }

    &:nth-child(2) {
      border-bottom: 1px solid var(--c-light-gray);
      border-top: 1px solid var(--c-light-gray);
    }
  }

  &-desktop {
    &__nav {
      display: none;

      @media only screen and (min-width: $b-medium) {
        display: block;
        position: absolute;
        right: 100px;
      }
    }

    &__items {
      display: flex;
      justify-content: space-between;
      line-height: 1.15;
      list-style: none;
      margin: 0;
      min-width: 220px;
      padding: 0;
    }

    &__item {
      color: var(--c-white);
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: var(--c-black);
      }
    }
  }
}
