@import 'src/styles/settings/variables';

.product {
  &__modal {
    &-title {
      margin-top: 0;
      text-align: center;
    }

    &-description {
      color: var(--c-dark-gray);
      line-height: 1.5;
    }
  }

  &__quantity {
    align-items: center;
    color: var(--c-dark-gray);
    display: flex;
    justify-content: center;
    line-height: 0.8;

    &-number {
      color: var(--c-black);
      font-size: 2rem;
      font-weight: 700;
      margin-right: 10px;
    }

    @media only screen and (min-width: $b-medium) {
      margin-bottom: 0;
    }
  }
}
