.progress-bar {
  background-color: var(--c-lighten-gray);
  border-radius: 20px;
  height: 15px;

  &__control {
    background-color: var(--c-modarate-cyan);
    border-radius: 20px;
    height: 15px;
  }
}
