.button {
  background-color: var(--c-modarate-cyan);
  border: 0;
  border-radius: 30px;
  color: var(--c-white);
  cursor: pointer;
  font-weight: 700;
  padding: 15px 30px;
  transition: background-color 0.5s;

  &:not(&[disabled]) {
    &:hover {
      background-color: var(--c-dark-cyan);
    }
  }

  &--disable {
    background-color: var(--c-dark-gray);
    cursor: not-allowed;
  }
}
