@import 'src/styles/settings/variables';

.product {
  margin-bottom: 25px;

  &--disable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    @media only screen and (min-width: $b-medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 0.9rem;
    margin-bottom: 0.8em;
    margin-top: 0;
  }

  &__price {
    color: var(--c-modarate-cyan);
    margin-bottom: 30px;
  }

  &__description {
    color: var(--c-dark-gray);
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__footer {
    @media only screen and (min-width: $b-medium) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__quantity {
    align-items: center;
    color: var(--c-dark-gray);
    display: flex;
    line-height: 0.8;
    margin-bottom: 30px;

    &-number {
      color: var(--c-black);
      font-size: 2rem;
      font-weight: 700;
      margin-right: 10px;
    }

    @media only screen and (min-width: $b-medium) {
      margin-bottom: 0;
    }
  }
}
