@import 'src/styles/settings/variables';

.pledge {
  $pledge: &;

  cursor: pointer;
  display: block;
  margin-bottom: 20px;

  &:hover {
    #{$pledge}__title {
      color: var(--c-modarate-cyan);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__header {
    align-items: center;
    display: flex;
  }

  &__description {
    color: var(--c-modarate-cyan);
    font-weight: 500;
    margin-left: 22px;
    margin-top: 5px;
  }

  &__radio {
    margin-right: 10px;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }

  &__content {
    color: var(--c-dark-gray);
    font-size: 0.9rem;
    line-height: 1.5;
  }

  &__quantity {
    align-items: center;
    color: var(--c-dark-gray);
    display: flex;
    line-height: 0.8;

    &-number {
      color: var(--c-black);
      font-size: 1.1rem;
      font-weight: 700;
      margin-right: 10px;
    }

    @media only screen and (min-width: $b-medium) {
      margin-bottom: 0;
    }
  }

  &__footer {
    border-top: 1px solid var(--c-light-gray);
    margin-top: 2em;
    padding-top: 2em;

    &-text {
      color: var(--c-dark-gray);
      display: block;
      font-size: 0.9rem;
      margin-bottom: 1em;
      text-align: center;
    }

    &-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &-input {
      margin-right: 5%;
      position: relative;
      width: 45%;

      &-icon {
        color: var(--c-dark-gray);
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &-control {
        text-align: center;
        width: calc(100% - 62px);
      }
    }

    &-btn {
      z-index: 10;
    }
  }
}

.continue {
  &__modal {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-size: 1.4rem;
    }

    &-description {
      color: var(--c-dark-gray);
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
