@import 'src/styles/settings/variables';

.header {
  line-height: 0;
  max-height: 320px;
  overflow: hidden;

  @media only screen and (min-width: $b-small) {
    max-height: 280px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__logo {
    cursor: pointer;
    left: 25px;
    position: absolute;
    top: 35px;
    z-index: 10;

    @media only screen and (min-width: $b-medium) {
      left: 100px;
    }
  }
}
