.about {
  margin-bottom: 20px;

  &__title {
    font-size: 1.2rem;
    margin: 0.63em 0 1.5em;
  }

  &__description {
    color: var(--c-dark-gray);
    line-height: 1.5;
    margin-bottom: 35px;

    p {
      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }
}
