.input {
  border: 1px solid var(--c-light-gray);
  border-radius: 30px;
  font-weight: 700;
  outline: none;
  padding: 15px 30px;

  &.error {
    border: 1px solid var(--c-red);
  }

  &:focus {
    border: 1px solid var(--c-modarate-cyan);
  }

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }
}
