:root {
  --f-primary: 'Commissioner';
  --font-size: 16px;
  --c-modarate-cyan: hsl(176, 50%, 47%);
  --c-dark-cyan: hsl(176, 72%, 28%);
  --c-black: hsl(0, 0%, 0%);
  --c-dark-gray: hsl(0, 0%, 48%);
  --c-light-gray: hsl(0, 0%, 85%);
  --c-white: #fff;
}

// Breakpoints
$b-small: 576px;
$b-medium: 768px;
$b-xlarge: 1200px;
