@import 'src/styles/settings/variables';

.description {
  margin-bottom: 20px;

  &__logo {
    left: 50%;
    position: absolute;
    top: -27px;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 1.2rem;
    margin: 1.8em 0 0.67em;
    text-align: center;
  }

  &__content {
    color: var(--c-dark-gray);
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 1em 0 1.8em;
    text-align: center;
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__modal {
    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-title {
      margin: 0;
    }

    &-close {
      cursor: pointer;
    }

    &-description {
      color: var(--c-dark-gray);
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

  &__bookmark {
    $bookmark: &;

    align-items: center;
    cursor: pointer;
    display: flex;
    max-width: 177px;

    &.active {
      #{$bookmark}-text {
        color: var(--c-dark-cyan);
      }
    }

    &-img {
      z-index: 10;
    }

    &-text {
      display: none;

      @media only screen and (min-width: $b-medium) {
        background-color: var(--c-lighten-gray);
        border-radius: 30px;
        color: var(--c-dark-gray);
        display: block;
        font-weight: 700;
        padding: 20px 30px 20px 70px;
        transform: translateX(-58px);
      }
    }
  }
}
