@import 'src/styles/settings/variables';

.card {
  background-color: var(--c-white);
  border-radius: 10px;
  padding: 30px 20px 40px;
  position: relative;

  &--lighten {
    border: 1px solid var(--c-lighten-gray);
  }

  &--light {
    border: 1px solid var(--c-light-gray);
  }

  &--type-2 {
    padding: 30px 20px;
  }

  @media only screen and (min-width: $b-medium) {
    padding: 30px 40px 40px;
  }
}
