.card {
  border-radius: 10px;
  padding: 20px 20px 40px;
  position: relative;
  background-color: var(--c-white);

  &--lighten {
    border: 1px solid var(--c-lighten-gray);
  }

  &--light {
    border: 1px solid var(--c-light-gray);
  }
}
